/* ====================================================================================
**  em() - By CBallenar [ https://github.com/cballenar ]
=======================================================================================
	'em' is a Sass mixin that converts pixel values to em values
	Returns 1 line of code, converted em values 
	
	Sample input:
		.element { @include em('line-height', 24px); }
	
	Sample output:
		.element { line-height: 1.5em; }

	This is an adaptation of 
	rem() - By GrowDigital [ https://gist.github.com/growdigital/1778907 ]
==================================================================================== */

@mixin em($property, $context_px, $px_values) {

	// Convert the baseline into rems
	$context_em: ($context_px / 1em);

	// If only one (numeric) value, return the property/value line for it.
	@if type-of($px_values) == 'number' {
		#{$property}: $px_values / $context_em;
	}
	
	// If more than one value, create list & perform equations on each value
	@else {
		// Create an empty list that we can dump values into
		$em_values: ();
		@each $value in $px_values {
			// If the value is zero, return 0
			@if $value == 0 { 
				$em_values: append($em_values, $value); 
			}
			// If the value is not zero, convert it from px to em
			@else {
				$em_values: append($em_values, ($value / $context_em) );
			}
		}
		// Return the property and its list of converted values
		#{$property}: $em_values;
	}
}