/*  Layout
=======================================================================================
	Put all your layout and design related styles here.
==================================================================================== */

html { height: 100%; }
body { min-height: 100%; @include rem('padding-bottom', 48px);}

// Basic Wrapper
.wrapper {
	width: 100%;
	margin: 0 auto; 
	@extend .cf; 
}
.inner { @include rem('padding', 0 24px);}

// Site Header
.site-header {
	font-family: $font-heading;
	background:#202020; color: #FBFBFB;
	overflow: hidden; white-space: nowrap;
	
	a { color: #EBEBEB; }
	
	.site-title { 
		display: block;
		@include rem('height', 96px);
		@include rem('margin', 0px);
		@include rem('font-size', 120px);
		@include em('line-height', 120px, 102px);

		font-weight: 600; 
		text-align: center; } 

	.subheader { display:none; } }

// Main Site Content
.site-content { 
	@include rem('margin', 24px 0);

	.description-box,
	.download-box { 
		@include rem('margin', 0 0 24px);

		*:last-child,
		&:last-child { margin-bottom: 0; } } }

// Site Footer
.site-footer {
	height:48px; width: 100%; 
	position: absolute; bottom: 0; 
	background: #202020; color: #EBEBEB; 
	
	p.bragging-rights { display:none; }
	p { 
		@include rem('font-size', 18px);
		@include em('line-height', 18px, 48px); 
		font-family: $font-heading; 
		text-align: center;
		margin: 0;

		a { color: #EBEBEB; 
			i { font-size: 1.25em; top: .025em; }
			&:hover { color: $color-links-h; } } } }

// Misc Globals
.b12 { color: #F0750F; } 
a:hover > .b12 { color: $color-links-h; }
