/*  Modules
=======================================================================================
	Put all your modifiers, modules and objects here.
==================================================================================== */

/*  Content Modifiers
------------------------------------------------------------------------------ 
	The following styles build upon the core elements and add some 
	interesting visual modifications. Unlike Helpers, these elements focus
	more on making things visually interesting and less on the function.
------------------------------------------------------------------------------ 	*/

// Extend Headings to 'h' classes
.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }


// Paragraph lead text
p.lead { 
	color: $gray-dark; 
	@include rem('font-size', $fs-body-accent);
	@include em('line-height', $fs-body-accent, $lh-body-accent); }


// Text Modifiers, used with <span> tags
.lowercase      { text-transform: lowercase; }
.uppercase      { text-transform: uppercase; }
.small-caps     { font-variant: small-caps;  }


// Align content, can be used in blocks
.text-left      { text-align: left;   }
.text-center    { text-align: center; }
.text-right     { text-align: right;  }


// Image Modifiers
img {
	&.img-scaled {
		max-width: 100%;
		height: auto; } 

	&.img-bordered { 
		padding: 2px; 
		border: $border; } 

	&.img-circle {
		border-radius: 100%; } }


/*  Modules & Objects, 
------------------------------------------------------------------------------ 
	Enter all your module and object class here, e.g., .media, .callout, etc.
------------------------------------------------------------------------------ */
