// Rows
// ------------------------------------------------------------------------------
.row { margin: 0 -.5rem 1rem; }
.group { margin: 0 0 1rem; }

.row, .group { @extend .cf; }


// Columns
// ------------------------------------------------------------------------------
// Columns can live outside of a row in standalone mode, as a sidebar.
.col { 
	float:left; 
	overflow: hidden; 

	&.left { margin-right: 2rem; } 
	&.right { margin-left: 2rem; float:right; }

	&.left .inner,
	&.right .inner { margin: 0; } 

	& > .object { margin-bottom: 1rem; } }


// Basic Object
// ------------------------------------------------------------------------------
.object { }

.inner { 
	overflow: hidden; 
	margin: 0 .5rem; padding: 1rem; 

	img { width: 100%; margin-bottom: 1rem; }

	& > *:last-child { margin-bottom:0; } }


// Widths
// ------------------------------------------------------------------------------
.span-1,
.span-2,
.span-3,
.span-4,
.span-5,
.span-6,
.span-7,
.span-8,
.span-9,
.span-10,
.span-11,
.span-12 { float:left; }

.span-1  { width:   8.333333%; }
.span-2  { width:  16.666666%; }
.span-3  { width:  25.000000%; }
.span-4  { width:  33.333333%; }
.span-5  { width:  41.666666%; }
.span-6  { width:  50.000000%; }
.span-7  { width:  58.333333%; }
.span-8  { width:  66.666666%; }
.span-9  { width:  75.000000%; }
.span-10 { width:  83.333333%; }
.span-11 { width:  91.666666%; }
.span-12 { width: 100.000000%; }

.row.has-span-1 .object, .row.has-span-1 .col { @extend .span-1; }
.row.has-span-2 .object, .row.has-span-2 .col { @extend .span-2; }
.row.has-span-3 .object, .row.has-span-3 .col { @extend .span-3; }
.row.has-span-4 .object, .row.has-span-4 .col { @extend .span-4; }
.row.has-span-6 .object, .row.has-span-6 .col { @extend .span-6; }


// Heights
// ------------------------------------------------------------------------------
.lines-5  .inner { height: 11rem; }
.lines-10 .inner { height: 21rem; }
.lines-15 .inner { height: 31rem; }
.lines-20 .inner { height: 41rem; }
.lines-25 .inner { height: 51rem; }
.lines-30 .inner { height: 61rem; }

.lines-5,
.lines-10,
.lines-15,
.lines-20,
.lines-25,
.lines-30 { 

	a.more { display:block; position:absolute; left: 12px; bottom: 15px; } 

	&.is-block a.more,
	.is-block a.more { left: 18px; }
	
	&.is-box a.more,
	.is-box a.more { left: 17px; } }


// Gutter & Padding Adjustments
// ------------------------------------------------------------------------------
.row.gutter-large {
	margin: 0 -1rem 2rem;
	.inner { 
		margin-left: 1rem; margin-right: 1rem; } }
.row.gutter-x-large {
	margin: 0 -2rem 4rem;
	.inner { 
		margin-left: 2rem; margin-right: 2rem; } }

.group.gutter-large { margin: 0 0 2rem; }
.group.gutter-x-large { margin: 0 0 4rem; }

.no-pad .inner { padding: 0; }


// Types of Objects
// ------------------------------------------------------------------------------
.object {

	a.more {
		@extend .font-head; 
		font-size: 1.25rem; line-height: 1rem; 
		text-decoration:none; text-transform: uppercase; } }

.is-block .inner { 
	background: #222; color:#FBFBFB; 
	padding: 12px 18px; 

	a { color: #FFF; }
	
	a.more { color: rgba(255,255,255,.5); 
		&:hover { color: rgba(255,255,255,1); } 
		&:active { color: rgba(0,255,255,1); } } }

.is-box .inner { 
	background: #FFF; border: 1px solid #DADADA; 
	padding: 11px 17px; 
	
	a { color: #2286D5; }

	a.more { color: rgba(0,0,0,.5);
		&:hover { color: rgba(0,0,0,1); } 
		&:active { color: rgba(0,255,255,1); } } }

.is-well { background: #F9F9F9; border: 1px solid #DADADA; padding: 11px; 
	&.small { padding:  5px; }
	&.large { padding: 23px; } }


// Objects Content
// ------------------------------------------------------------------------------

.object .label {
	// Small piece of text 1-3 words that describe the content of the object
	font-size: 12px; line-height: 18px;
	font-weight: 400; text-transform: uppercase; 
	opacity: .5;
}

.object .title {
	// Primarily title of the object, ideally, 1-5 words
	font-size: 18px; line-height: 21px;
}

// Mods
// ------------------------------------------------------------------------------
.mod-rounded .inner { border-radius: .5rem; }

