/*  Layout
=======================================================================================
	Put all your layout and design related styles here.
==================================================================================== */

.content { padding: 2rem; }
.sidebar { padding: 0; }
.content, .sidebar { float:left; margin-bottom:0; margin: 0 0 1rem; }

.container.no-sidebar .content { }

.wrapper {
	width: 100%;
	margin: 0 auto; 
	@extend .cf; 
}

.site-content { 
	margin: 0 auto 24px; 
	margin: 0 auto 2rem;

	& > *:last-child{ margin-bottom: 0; } }


// Top bar
.site-header {
	font-family: $font-heading;
	background:#202020; color: #FBFBFB;
	overflow: hidden; white-space: nowrap;
	
	a { color: #EBEBEB; }
	
	.site-title { 
		display: block;
		@include rem('margin', 0px);
		@include rem('font-size', 120px);
		height: 96px;
		line-height: 96px; 

		font-weight: 600; 
		text-align: center;

		.b12 { color: #FF9944; } }
	
	.global-navigation {
		margin: 0; padding: 0;

		& > li { 
			display: block; float: left;
			margin: 0; padding: 1rem; 
			list-style: none; 
			font-size: 2rem; line-height: 4rem; } } }


// Sidebar
.sidebar { }

ul.local-navigation { 
	margin: 24px 0 0; padding: 0; 

	li { 
		margin: 0; padding: 0; 
		list-style:none; 

		a { 
			display:block; 
			text-decoration: none; 
			margin:0 1rem; padding: 1rem 1rem; 
			border-bottom:1px solid #DADADA; 
			
			&:hover { color:#FF9944; } }
		
		&:last-child a { border-bottom:0; } } }