/*  Helpers
============================================================================== 
	The following styles help address special situations that may arise when
	building the site, i.e. clearing floats. Unlike Modifiers, these elements 
	focus more on the function rather than making things visually interesting.
=========================================================================== */

// Floats
.pull-left 	{ float: left;  }
.pull-right { float: right; }

// Clearfix
.cf { zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; } }

// Hide text
.hide-text {
    font: 0/0 a;
    text-shadow: none;
    color: transparent; }

// Image Replacement
.ir { 
	@extend .hide-text;
	background-color: transparent; border: 0; 

	&:before { 
		display: block; content: ""; 
		width: 0; height: 100%; } }

// Hidden
.hidden { display: none !important; visibility: hidden; }
.invisible { visibility: hidden; }
.unselectable { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }

// Plugins 
.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }