/* ====================================================================================
**  Design - Manage layout and design related styles here.
==================================================================================== */

// For sticky footer
html, body { height: 100%; }

.outer-wrapper { 
	min-height: 100%; 
	height: auto !important; 
	height: 100%; 
	@include rem('margin-bottom', -48px); 
	
	.footer-push { @include rem('height', 48px); } }

// Used in layout
.wrapper {
	width: 100%;
	margin: 0 auto; 
	@extend .cf; }


// Site Header
.site-header {
	font-family: $font-heading;
	background:#202020; color: #FBFBFB;
	overflow: hidden; white-space: nowrap;

	a { color: #EBEBEB; }
	
	.site-logo { 
		display: block;
		@include rem('height', 96px);
		@include rem('margin', 0px);
		@include rem('font-size', 120px);
		@include em('line-height', 120px, 102px);

		font-weight: 600; 
		text-align: center; } 

	.subheader { display:none; } }


// Main Site Content
.site-content { 
	@include rem('margin', 24px 0); }


// Site Footer
.site-footer {
	width: 100%; height:48px; 
	background: #202020; color: #EBEBEB; 
	
	p.bragging-rights { display:none; }
	p { 
		@include rem('font-size', 18px);
		@include em('line-height', 18px, 48px); 
		font-family: $font-heading; 
		text-align: center;
		margin: 0;

		a { color: #EBEBEB; 
			i { font-size: 1.25em; top: .025em; }
			&:hover { color: $link-color-h; } } } }


// Misc Globals
.b12 { color: #F0750F; } 
a:hover > .b12 { color: $link-color-h; }
.subheader { color: #707070; }