@mixin transition($property:all, $duration:.5s, $timing: ease, $delay: null) { 
	-webkit-transition: $property $duration $timing $delay; 
	   -moz-transition: $property $duration $timing $delay; 
	    -ms-transition: $property $duration $timing $delay; 
	     -o-transition: $property $duration $timing $delay; 
	        transition: $property $duration $timing $delay; }