/*! 
 * em() - By CBallenar [ https://github.com/cballenar ]
 *
 * 'em' is a Sass mixin that converts pixel values to em values
 * Returns 2 lines of code — regular pixel values and converted em values 
 * 
 * Sample input:
 * .element { 
 * @include em('padding',10px 0 2px 5px); }
 * 
 * Sample output:
 * .element {
 *   padding: 10px 0 2px 5px;
 *   padding: 1rem 0 0.2rem 0.5rem; }
 *
 * This is an adaptation of rem() - By GrowDigital [ https://gist.github.com/growdigital/1778907 ]
 *
 */
 
@mixin em($property, $context, $px_values) {
	
	// Print the first line in pixel values
	#{$property}: $px_values;
	
	// If only one (numeric) value, return the property/value line for it.
	@if type-of($px_values) == 'number' {
		#{$property}: $px_values / $context;
	}
	
	// If more than one value, create list & perform equations on each value
	@else {
		// Create an empty list that we can dump values into
		$em_values: ();
		@each $value in $px_values {
			// If the value is zero, return 0
			@if $value == 0 { 
				$em_values: append($em_values, $value); 
			}
			// If the value is not zero, convert it from px to em
			@else {
				$em_values: append($em_values, ($value / $context) );
			}
		}
		// Return the property and its list of converted values
		#{$property}: $em_values;
	}
}