/* ====================================================================================
**  Helpers
=======================================================================================
	The following styles help address special situations that may arise when building 
	the site, i.e. clearing floats. 
	Unlike Modifiers, these elements focus more on the function rather than making 
	things visually interesting. 
	These styles have some modifications from the ones in the H5BP.
==================================================================================== */


// Extend Headings to 'h' classes
.h1 { @extend %h1; }
.h2 { @extend %h2; }
.h3 { @extend %h3; }
.h4 { @extend %h4; }
.h5 { @extend %h5; }
.h6 { @extend %h6; }


// Paragraph lead text
p.lead { 
	color: $gray-darker; 
	@include rem('font-size', $fs-body-accent);
	@include em('line-height', $fs-body-accent, $lh-body-accent); }


// Text Modifiers, used with <span> tags
.lowercase      { text-transform: lowercase; }
.uppercase      { text-transform: uppercase; }
.small-caps     { font-variant:  small-caps; }


// Align content, can be used in blocks
.text-left      { text-align: left;   }
.text-center    { text-align: center; }
.text-right     { text-align: right;  }


// Floated Elements
.pull-left 	{ float: left;  }
.pull-right { float: right; }


// Clearfix — I decided to accomodate the different ways of naming .clearfix
.cf,          // minimal
.group,       // semantic
.clearfix {   // classic
	zoom: 1;

	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; } }


// Hide text
.hide-text {
    font: 0/0 a;
    text-shadow: none;
    color: transparent; }


// Image Replacement
.ir { 
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;

	&:before { 
		display: block; content: ""; 
		width: 0; height: 100%; } }


// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden; }


// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

	// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto; } }


// Hide visually and from screenreaders, but maintain layout
.invisible {
    visibility: hidden; }


// Allows to make elements unselectable - Not spec'ed yet, use with caution.
.unselectable { 
	user-select: none; }

// Browse Happy
.browsehappy { 
	margin: 0; padding: 0.25em 0.5em; 
	background: $gray-light; color: $gray-darkest; }