/*  Basic Modifiers
============================================================================== 
	The following styles build upon the core elements and add some 
	interesting visual modifications. Unlike Helpers, these elements focus
	more on making things visually interest and are less about the function.
=========================================================================== */

// Floats
.pull-left 	{ float: left;  }
.pull-right { float: right; }

// Imitate heading
.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

.subheader { color: #777; }

p { 
	&.lead { 
		color: #777; 
		@include rem('font-size', $fs-body-accent);
		@include em('line-height', $fs-body-accent, $lh-body-accent); } }

// Align
.text-left 		{ text-align: left;   }
.text-center 	{ text-align: center; }
.text-right 	{ text-align: right;  }

// Transform Text
.lowercase  { text-transform: lowercase; }
.uppercase  { text-transform: uppercase; }
.small-caps { font-variant: small-caps; }

blockquote{
	&.pull-quote { 
		border: 1px solid #EBEBEB; border-width:1px 0; 
		margin: 24px 0; padding: 12px 24px 12px 60px;

		p { 
			margin: 0; 
			color: #4C4C4C; 
			font-size: 21px;    line-height: 27px;
			font-size: 1.75rem; line-height: 2.25rem; }

		cite { 
			font-style: italic; 
			text-align:right; 
			font-size: 15px; font-size: 1.25rem; 
			margin: 6px 0 0; margin: .5rem 0 0; }

		& > *:last-child { margin-bottom:0; } } }

img {
	&.img-scaled {
		max-width: 100%;
		height: auto; } 

	&.img-bordered { 
		padding: 2px; 
		border: $border; } 

	&.img-circle {
		border-radius: 100%; } }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {

	&.disabled { 
		color: $btn-disabled; background: $btn-disabled-text; }

	&.full-width { 
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; } 

	&.press-me {
		font-family: $font-heading; 
		font-weight: $font-weight-bold; 
		text-transform: uppercase; text-align:center; 
		@include rem('font-size', 21px);
		@include em('line-height', 21px, 24px);

		@include rem('margin', 0 6px 6px 0);
		@include rem('padding', 12px 24px);

		@include rem('border-radius', 6px);

		color: $btn-primary-text;
		background: $btn-primary; 
		box-shadow: 0 6px darken($btn-primary, 10%); 
		@include transition(all, .1s, ease);

		&:hover { 
			top: 2px;
			background: lighten($btn-primary, 5%); 
			box-shadow: 0 4px darken($btn-primary, 10%); } 

		&:active { 
			top: 4px;
			background: $btn-active;
			box-shadow: 0 2px darken($btn-active, 10%); } 

		i { 
			top: 2px;
			@include rem('font-size', 27px); 
			@include em('line-height', 27px, 21px); } } }