/* ====================================================================================
**  Variables - Manage existing and new variables
==================================================================================== */

/* Author Variables
------------------------------------------------------------------------------------ */
$primary-color:             #BADA55;
$accent-color:              #DE1E7E;
// etc...


/* Switches
------------------------------------------------------------------------------------ */
// Browser support
$rem-to-px-fallback:        false; // Adds px fallback to properties that use the rem() function

// Special Styles (Use with caution)
$animate-all-links:         false; // adds transition(all, .2s ease); to all links
$bg-no-repeat:              true; // adds * { background: no-repeat; }
$it-s-all-relative:         true; // adds * { position: relative; }
$box-sizing-for-all:        true; // adds * { box-sizing: border-box; } (w/ browser prefixes)
$vertical-align-middle:     false; // adds * { vertical-align: middle; }


/* Type - use pixels for font-size & line-height
------------------------------------------------------------------------------------ */
// Base
$base-font-size:            12px;   // Preferably in pxs
$base-line-height:          1.62em; // Preferably in ems

// Font families
$font-heading:              'atrament-web', 'Impact', sans-serif;
$font-body-copy:            'jubilat', serif;
$font-monospace:            'Consolas', 'Courier New', monospace;

// Default font weight when bold
$font-normal-weight:        400;
$font-strong-weight:        600;
$font-heading-weight:       $font-strong-weight;

// Headings Sizes
$fs-h1:                     60px; 
$lh-h1:                     63px; 

$fs-h2:                     36px; 
$lh-h2:                     42px; 

$fs-h3:                     27px; 
$lh-h3:                     33px; 

$fs-h4:                     21px; 
$lh-h4:                     27px; 

$fs-h5:                     15px; 
$lh-h5:                     21px; 

$fs-h6:                     12px; 
$lh-h6:                     18px; 

// p, ul, ol, etc
$fs-body:                   15px;
$lh-body:                   21px;

$ul-style:                  square;
$ul-ul-style:               disc;
$ul-ul-ul-style:            circle;

$ol-style:                  decimal;
$ol-ol-style:               lower-alpha;
$ol-ol-ol-style:            lower-roman;

// blockquote, lead, etc.
$fs-body-accent:            18px;
$lh-body-accent:            24px;


/* Colors
------------------------------------------------------------------------------------ */

// Primary Colors
$gray-lighter:              #FBFBFB; 
$gray-light:                #EBEBEB; 
$gray:                      #DADADA; 
$gray-dark:                 #707070; 
$gray-darker:               #202020; 

// Basic Elements
$body-bg:                   $gray-light;

$font-body-copy-color:      $gray-darker;
$font-heading-color:        inherit; // If inherit it will use the color for the body copy

$selection-text:            $gray-light;
$selection-bg:              $gray-darker; // Browser default is #B3D4FC

// Link colors
$link-color:                #F0750F;
$link-color-h:              darken($link-color, 5%);
$link-color-a:              #DD4B39;
$link-color-v:              $link-color;

// Misc
$mark-bg-color:             #FFFF00;
$mark-text-color:           $font-body-copy-color;

// Borders 
$border-color:              $gray;
$border:                    1px solid $border-color;


/* Other Elements - Ignore if they're turned off
------------------------------------------------------------------------------------ */

// Blockquotes
$blockquote-font-size:      $fs-body-accent;
$blockquote-line-height:    $lh-body-accent;
$blockquote-font-color:     $gray-dark;
$blockquote-border-color:   $gray;

// Table colors
$table-bg:                  transparent;
$table-border:              none;

$th-bg:                     transparent;
$th-color:                  $font-body-copy-color;
$th-border:                 $border;

$tr-odd:                    transparent;
$tr-even:                   transparent;
$tr-border:                 $border;

// Forms
$form-field-bg:             darken($gray-lighter,.5%);
$form-field-bg-focus:       $gray-lighter;

$form-field-text:           $gray-dark;
$form-field-text-focus:     $gray-darker;

$form-field-border:         $border;
$form-field-border-focus:   1px solid darken($border-color, 10%);

// Buttons
$btn-default-bg:            #F0750F;
$btn-default-text:          $gray-lighter;

$btn-hover-bg:              darken($btn-default-bg, 2.5%);
$btn-hover-text:            lighten($btn-default-text, 5%);

$btn-active-bg:             $link-color-a;
$btn-active-text:           lighten($btn-default-text, 5%);

$btn-primary-bg:            $btn-default-bg;
$btn-primary-text:          $btn-default-text;

$btn-disabled-bg:           $gray;
$btn-disabled-text:         darken($gray, 10%);
